/*  Body */

* {
    box-sizing: border-box;
    will-change: transform;
}

html, body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "Century Gothic", "Segoe UI", Arial, Serif, sans-serif;
    font-weight: bold;
    background-color: #2a1d50;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
}

/* Layout */

.container {
    background-image: url("./assets/background.png");
    background-size: 128px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.opacity-5 {
    opacity: .3;
    opacity: .35;
}

.absolute {
    position: absolute;
    z-index: 999;
}

.absolute-center {
    left: 50%;
    transform: translate(-50%);
}

.absolute-left {
    left: 10px;
}

.absolute-right {
    right: 10px
}

.full-width {
    width: 100%;
}

.full-height {
    min-height: 100vh;
}

.row {
    display: flex;
}

.col {
    flex: auto;
    padding: 10px;
}

.hide {
    display: none !important;
}

/* Text */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Logo */

.logo {
    height: 60px;
}

/* Input */

.input {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    height: 29px;
    outline: none;
    border: none;
    text-align: center;
    color: #555;
}

/* Button */

.btn {
    background-color: #db3f3d;
    background-position: center;
    padding: 5px 12px;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    outline: none;
    border: none;
    transition: all 1s;
}

.btn:hover {
    background: #f19e0d radial-gradient(circle, transparent 1%, #f19e0d 1%) center/15000%;
}

.btn:active {
    background-color: #fff;
    background-size: 100%;
    transition: backround 0s;
}

/* Table */

.table-overlay {
    max-height: 140px;
    overflow: auto;
    margin: 10px 0;
}

.table-overlay::-webkit-scrollbar {
    width: 6px;
}

.table-overlay::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 10px;
}

.table-overlay::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.table-overlay th,
.table-overlay td {
    text-align: center;
    font-weight: bold;
    width: 80px;
    padding: 5px 0;
}

/* Instructions */

#instructions {
    padding: 0 20px;
}


#instructions, #ranking, #scoreForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .2);
}

.title {
    margin-top: 0;
    margin-bottom: .6rem;
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: .4rem;
}

#instructions .btn {
    margin-top: .5rem;
}

#instructions * {
    opacity: 0;
}

#instructions .animate {
    opacity: 1;
    animation-name: animateInstructions;
    animation-duration: .75s;
}

@keyframes animateInstructions {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    70% {
        opacity: 1;
        transform: scale(1.2);
    }
}

/* Game Menu */

#gameBoard img {
    height: 30px;
    opacity: .85;
    vertical-align: top;
}

#gameBoard img:hover {
    opacity: 1;
}

#gameMenu {
    top: 0;
    width: 100%;
}

#gameMenu > div {
    padding: 20px;
}

#gameMenu > div.stat-overlay {
    background-color: rgba(255, 255, 255, .3);
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    line-height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-menu {
    height: 30px;
    width: 30px;
    fill: #fff;
    opacity: .82;
}

.btn-menu-background {
    padding: 5px;
    background-color: #db3f3d;
    border-radius: 4px;
}

.stat-overlay span {
    font-size: 1.2rem;
    margin: 0 10px;
}

.game-control {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 100%;
}

.game-control-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100px;
}

.game-shoot {
    left: unset;
    right: 50px;
    bottom: 80px;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 0, 0, .4);
}

#fuelCounter {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
    opacity: 0.7;
    width: 450px;
    height: 24px;
    border-radius: 100px;
    padding-left: 20px;
}

#fuelCounter #fuel {
    background-color: #f19e0d;
    width: 50%;
    height: 100%;
    border-radius: 100px;
    padding-right: 15px;
    font-size: 14px;
    transition: all 1s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fuel-icon {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 70%;
    transform: translateY(-70%);
    opacity: 1 !important;
    height: 45px !important;
}

/* Canvas */

#canvas {
    width: 100vw;
    position: relative;
}

.collide-animation {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: .4;
}

.animate-canvas {
    animation: animateCanvas .1s infinite alternate;
}

@keyframes animateCanvas {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: #db3f3d;
    }
}

/* layout */
.flex {
    display: flex;
}
/* joystick */

#zone_joystick {
    position: absolute;
    z-index: 99999999999999;
    bottom: 100px;
    left: 100px;
    transform: translate(50%, 50%);
}

/* loader */

.loader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: #2a1d50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999999999999999999;
}

.loader-overlay {
    height: 20px;
    width: 200px;
    max-width: 100%;
    background-color: #ccc;
    position: relative;
}

.loader-item {
    position: absolute;
    height: 100%;
    width: 0;
    background-color: #db3f3d;
}

.loader-text {
    margin-top: 1rem;
}
/* Modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999999;
    background-color: rgba(0, 0, 0, .2);
}

.modal-dialog {
    width: 600px;
    max-width: 90vw;
    padding-top: 10vh;
    margin: 0 auto;

.modal-content {
    background-color: #232832;
    border-radius: 10px;
}

.modal-body,
.modal-header,
.modal-footer {
    padding: 20px 30px;
}

.modal-header {
    padding-bottom: 0;
}

.modal-footer {
    padding-top: 0;
    text-align: right;
}

.modal-title {
    margin: 0;
}

/* form */
.input-row {
    width: 100%;
    display: flex;
}

.input-row .input-checkbox {
    margin-left: auto;
}

.shop-ship {
    position: absolute;
    top: 0;
    left: 0;
    height: 130px;
    margin: 50px 200px;
    opacity: .8;
}

.shop {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('./assets/background-shop.png');
    height: 100vh;
    width: 100vw;
    transition: .4s all;
    transform: scale(0);
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 4;
}

.shop > div {
    width: calc(100vw - 500px);
    height: calc(100vh - 200px);
    background-color: white;
    border-radius: 5px;
    transition: .4s all .5s;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.shop.active {
    transform: scale(1);
}

.shop.active > div {
    max-height: calc(100vh + 100px);
}

.shop img {
    width: 100%;
}

.shop p {
    color: black;
    font-weight: normal;
}

.shop table {
    width: 100%;
    color: black;
    border-collapse: collapse;
    height: 100%;
}

.shop th {
    border-bottom: 2px solid #ccc;
    padding: 9px 15px;
}

.shop td {
    padding: 10px 20px;
    border: none;
}

.shop tr > *:nth-child(1) {
    width: 240px;
}

.shop tr > *:nth-child(2) {
    width: 60%;
}

.shop tr > *:nth-child(3) {
    width: 140px;
}

.shop .btn {
    color: white;
}

.shop tbody tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, .1);
}

.shop tbody {
    width: 100%;
    height: calc(100% - 38px - 10px);;
    display: block;
    overflow-y: scroll;
}

.shop tbody tr, .shop thead {
    table-layout: fixed;
    display: table;
}

.shop tr {
    width: 100%;
}

.shop thead {
    width: calc(100% - 1em);
}

.shop tbody::-webkit-scrollbar {
    width: 5px;
}

.shop tbody::-webkit-scrollbar-track {
    background-color: #ccc;
}

.shop tbody::-webkit-scrollbar-thumb {
    background-color: #db3f3d;
}

.shop tbody::-webkit-scrollbar-thumb:hover {
    background-color: #db3532;
}

.shop button{
    cursor: pointer;
}

.shop .close-shop-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.enter-zone{
    height: 40px;
    width: 40px;
    background-color: rgba(219,63,61,.4);
    border: 3px solid rgba(219,63,61,.8);
    position: absolute;
    top: 110px;
    left: 150px;
    border-radius: 50%;
    transform: scale(0);
    transition: .4s transform;
}

.enter-zone.active{
    transform: scale(1);
    animation: 1s enterZoneAnimation infinite .4s;
}

.enter-zone i{
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes enterZoneAnimation{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}